package views

import (
  "github.com/fgeck/gotth-sqlite/templates/components"
  "github.com/fgeck/gotth-sqlite/templates/layout"
)

templ Home(isCollapsed bool) {
  @layout.Base(){
    @components.Sidebar(isCollapsed) 
    @components.MainContent(isCollapsed)
  }
}
